.footer{
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    margin-top: 100px;
    background-image: linear-gradient(
    to left,
    rgba(37, 92, 253, 0.6),
    rgba(59, 70, 236, 0.6),
    rgba(87, 64, 202, 0.6),
    rgba(108, 60, 187, 0.6),
    rgba(115, 0, 189, 0.6)
);

    
}
.ruby-logo{
    width: 40px;
    margin-right: 6px;
}
.ruby-parent{
    display: flex;
    align-items: center;  
}
.ruby-parent img{
    object-fit : contain;
}

.footer p{
    font-size: 12px
}