.footer{
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    margin-top: 100px;
}
.ruby-logo{
    width: 40px;
    margin-right: 6px;
}
.ruby-parent{
    display: flex;
    align-items: center;  
}
.ruby-parent img{
    object-fit : contain;
}

.footer p{
    font-size: 12px
}