
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    padding: 20px;
    font-size: 30px;
    animation: changeColors;
    animation-duration: 0.5s;
    background-image: linear-gradient(to left, rgba(37, 92, 253, 0.85), rgba(59, 70, 236, 0.85), rgba(87, 64, 202, 0.85), rgba(108, 60, 187, 0.85), rgba(115, 0, 189, 0.85));
    z-index: 600;

}
.up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    padding: 20px;
    font-size: 30px;
    background-color: white;
    color: black;
    position: sticky;
    top: 0;
    animation-name: changeOpacity;
    animation-duration: 1s;
    z-index: 600;
    

}
.down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    padding: 20px;
    font-size: 30px;
    background-color: white;
    color: black;
    position: sticky;
    top: 0;
    animation-name: changeOpacity;
    animation-duration: 1s;
    z-index: 600;
    
}
.logo{
    display: flex;
}
.logo img{
    object-fit : contain;
}


.cart-icon{
    margin-right: 8px;
}
.total-count{
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    font-size: 15px;
    text-align: center;
    color: white;
    left: -15px;
    top: -5px;
}
.logo p{
    font-size: 22px;
}
.list-icon{
    position: relative;
    display: flex;
    align-items: center;
}
.cart-contianer{
    position: relative;
}
@keyframes changeOpacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes changeColors{
    from{
        background-color: white;
        color: black;
    }
    to{
        background-color: transparent;
        color: white;
    }
}